<div class="textwidget margin-top-30">
    <h1>Billing Information</h1>
    <hr>
</div>
<div class="widget field">
    <form class="ui form" method="post" name="paymentForm" novalidate ng-submit="paymentForm.$valid && paymentCtrl.submit()">
        <div class="form-group field">
            <label for="cardType">Card type</label>
            <select name="cardType" id="cardType" required>
				<option value="" disabled selected>-------</option>
				<option value="visa"><i class="visa icon"></i>Visa</option>
				<option value="master"><i class="master icon"></i>MasterCard</option>
				<option value="amex"><i class="amex icon"></i>American Express</option>
				<option value="discover"><i class="discover icon"></i>Discover</option>														
			</select>
        </div>
        <div class="fields">
            <div class="form-group seven wide field">
                <label for="cardNumber">Card number</label>
                <input type="text" name="cardNumber" id="cardNumber" placeholder="Card #" ng-model="paymentCtrl.cardNumber" required credit-card />
            </div>
            <div class="form-group three wide field">
                <label for="cardCode">CVC</label>
                <input type="text" name="cardCode" id="cardCode" placeholder="CVC" ng-model="paymentCtrl.cardCode" ng-minlength="3" ng-maxlength="4" />
            </div>
            <div class="form-group six wide field">
                <label for="expirationMonth">Expiration</label>
                <div class="two fields">
                    <div class="field">
                        <select class="ui fluid search dropdown" name="expirationMonth" id="expirationMonth">
                            <option value="" disabled selected>Month</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
							<option value="03">03</option>
							<option value="04">04</option>
							<option value="05">05</option>
							<option value="06">06</option>
							<option value="07">07</option>
							<option value="08">08</option>
							<option value="09">09</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
                        </select>
                    </div>
                    <div class="field">
                        <input type="text" name="expirationYear" maxlength="4" placeholder="Year" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group six wide field">
            <label for="zip">Billing zip</label>
            <input type="text" name="zip" id="zip" placeholder="ZIP" required/>
        </div>
        <div>
            <button type="submit" class="ui orange labeled icon button" value="Place Order">
                <i class="checkmark icon"></i>Place Order
            </button>

            <span ng-show="paymentCtrl.showProgress">Placing order...</span>
        </div>
        <div ng-show="paymentForm.$submitted" style="color:red;">
            <div ng-show="paymentForm.cardNumber.$error.required">Please enter your credit card number.</div>
            <div ng-show="paymentForm.cardCode.$error.minlength || paymentForm.cardCode.$error.maxlength">
                Card code should be 3-4 digits
            </div>
            <div ng-show="paymentForm.cardNumber.$error.creditCard">
                Not a valid card number.
            </div>
        </div>
    </form>
</div>
