<div class="widget">
    <strong ng-show="!restCtrl.restaurants">Loading...</strong>

    <h1 ng-show="restCtrl.restaurants">Here are the restaurants in {{restCtrl.restaurants.address.city}}, {{restCtrl.restaurants.address.state}}</h1>

    <div ng-repeat="restaurant in restCtrl.restaurants.restaurants">
        <strong><a ng-href="#/menu/{{restaurant.apiKey}}" class="ui inverted orange button">{{restaurant.name}}</a></strong>
        <ul>
            <li><strong>Specialties:</strong>
                <span ng-repeat="food in restaurant.foodTypes">,&nbsp;&nbsp;{{food}}</span>
            </li>
            <li><strong>Address:</strong> {{restaurant.streetAddress}} {{restaurant.city}}, {{restaurant.state}} {{restaurant.zip}}
            </li>
            <li><strong>Phone: </strong>{{restaurant.phone}}</li>
            <li><strong>Delivery time: </strong>{{restaurant.deliveryMin}} minutes</li>
        </ul>
    </div>
</div>

<script>
    (function(global) {

        if (typeof(global) === "undefined") {
            throw new Error("window is undefined");
        }

        var _hash = "!";
        var noBackPlease = function() {
            global.location.href += "#";

            // making sure we have the fruit available for juice (^__^)
            global.setTimeout(function() {
                global.location.href += "!";
            }, 50);
        };

        global.onhashchange = function() {
            if (global.location.hash !== _hash) {
                global.location.hash = _hash;
            }
        };

        global.onload = function() {
            noBackPlease();

            // disables backspace on page except on input fields and textarea..
            document.body.onkeydown = function(e) {
                var elm = e.target.nodeName.toLowerCase();
                if (e.which === 8 && (elm !== 'input' && elm !== 'textarea')) {
                    e.preventDefault();
                }
                // stopping event bubbling up the DOM tree..
                e.stopPropagation();
            };
        }

    })(window);
</script>
